

.header_main{
    background-color: #fff;
    width:100%;
    height: 77px;
position: fixed;
top:0;
z-index: 1;
border-bottom:1px solid rgba(0,0,0,.0975);
box-sizing: border-box;
font-family: 'Source Sans Pro',sans-serif;
overflow: hidden;
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
}
.header_main .inner_head{  
    width:100%;
    display: flex;
  align-items: center;
height: 77px;
box-sizing: border-box;
max-width: 900px; 
flex-direction: row;
justify-content: flex-start;
position: relative;
box-sizing: border-box;
flex-wrap: wrap;
}
.inner_head .icon_main{
    flex:2;
display: flex;
box-sizing: border-box;
position: relative;
overflow: hidden;
flex-wrap: wrap;
}
.inner_head .icon_main .icon{
box-sizing: border-box;
position: relative;
}
#insta{
    text-decoration: none;
    color:#000;
display: flex;
align-items: center;
}
#insta h2{
    margin-left: 13px;
}
#insta  span{
overflow: hidden;
}
.header_main .form1{
    
}
.header_main .routing{
    flex:2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

}
.nav_main{
    display: none;
}
#ico{
visibility: hidden;
}
@media only screen and (max-width:578px){
    .header_main .inner_head{
       display:none;

    }
   
     #ico{
        visibility: visible !important;
    position: relative;
    top:110px;
    right:0;
    z-index: 1;
display: inline;
    }
    .nav_main{
        margin-top: 0px;
    width: 100%;
    height: 0;
         background-color:#efefef;
         display: flex;
         flex-direction: column;
         align-items: center;
         visibility: hidden;
         transition: height 0.3s ease-in-out;
         position: relative;
box-sizing: border-box;
    }
 #ico:hover .nav_main{
     height: 200px;
     visibility: visible;
 }
    #i{
display: flex;
align-items: center;
    }
    .nav_main .in{
        margin-bottom: 30px;
        
    }
    .nav_main .f{
        margin-bottom: 40px;
    }
    .nav_main .r{
        display: flex;
        flex-direction: row;
        
    }
     .r .fa-heart{
        font-size: 16px;
        margin-right: 10px;
    }
     .r .fa-dot-circle{
        font-size: 16px;
        margin-right: 10px;
    }
    .r .fa-user{
        font-size: 16px;
    }
   
}
.fa-instagram{
font-size: 32px;
margin-right:13px;
position: relative;   
}
.header_main  .fa-dot-circle{
    font-size: 20px;
    margin-right: 25px;
}
.header_main  .fa-heart{
    font-size: 20px;
    margin-right: 25px;
}
.header_main  .fa-user{
    font-size: 20px;
}
